# Covid Advanced Prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-whitegrid')
sns.set_style("whitegrid")

# Import Necessary data from https://api.covid19india.org/csv/

In [42]:
pd.read_csv("https://api.covid19india.org/csv/latest/raw_data1.csv").head()

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num cases
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1

In [49]:
pd.read_csv("https://api.covid19india.org/csv/latest/raw_data3.csv").head().columns.values

array(['Entry_ID', 'State Patient Number', 'Date Announced',
       'Age Bracket', 'Gender', 'Detected City', 'Detected District',
       'Detected State', 'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'], dtype=object)

In [50]:
url1="https://api.covid19india.org/csv/latest/raw_data1.csv"
url2="https://api.covid19india.org/csv/latest/raw_data2.csv"
url3="https://api.covid19india.org/csv/latest/raw_data3.csv"
url4="https://api.covid19india.org/csv/latest/raw_data4.csv"
url5="https://api.covid19india.org/csv/latest/raw_data5.csv"

url=[url2,url3,url4,url5]
features=["Date Announced","Detected City","Detected State"]

In [51]:
df=pd.read_csv(url1)[features]
for i in url:
    print("Reading ...",i)
    df=df.append(pd.read_csv(i)[features],ignore_index = True)

Reading ... https://api.covid19india.org/csv/latest/raw_data2.csv
Reading ... https://api.covid19india.org/csv/latest/raw_data3.csv
Reading ... https://api.covid19india.org/csv/latest/raw_data4.csv
Reading ... https://api.covid19india.org/csv/latest/raw_data5.csv

In [52]:
df.head()

  Date Announced             Detected City Detected State
0     30/01/2020                  Thrissur         Kerala
1     02/02/2020                 Alappuzha         Kerala
2     03/02/2020                 Kasaragod         Kerala
3     02/03/2020  East Delhi (Mayur Vihar)          Delhi
4     02/03/2020                 Hyderabad      Telangana

In [53]:
df.tail()

      Date Announced Detected City Detected State
76856     04/06/2020           NaN         Kerala
76857     04/06/2020           NaN         Kerala
76858     04/06/2020           NaN         Kerala
76859     04/06/2020           NaN         Kerala
76860     04/06/2020           NaN         Kerala

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76861 entries, 0 to 76860
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date Announced  76861 non-null  object
 1   Detected City   5204 non-null   object
 2   Detected State  76853 non-null  object
dtypes: object(3)
memory usage: 1.8+ MB

In [55]:
# convert the 'Date Announced' column to datetime format 
df["Date Announced"]=pd.to_datetime(df['Date Announced'], infer_datetime_format=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76861 entries, 0 to 76860
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date Announced  76861 non-null  datetime64[ns]
 1   Detected City   5204 non-null   object
 2   Detected State  76853 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.8+ MB

In [58]:
dfChennai=df.loc[df["Detected City"]=="Chennai","Date Announced"]
dfChennai.tail()

650     2020-03-25
33760   2020-05-05
33761   2020-05-05
35009   2020-05-06
35010   2020-05-06
Name: Date Announced, dtype: datetime64[ns]